<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<!-- Mod Settings -->
	<CFSettings_Category>Community Framework</CFSettings_Category>
	<CFSettings_Debug>Debug</CFSettings_Debug>
	<CFSettings_DebugTooltip>Enable debug logging, especially on load. You generally don't need to enable this unless asked to.</CFSettings_DebugTooltip>
	<CFSettings_PPM>Print patched methods</CFSettings_PPM>
	<CFSettings_PPMTooltip>Whether to print all the Harmony patches which are successfully applied.</CFSettings_PPMTooltip>
	<CFSettings_ApplyAtOwnRisk>Disabling any patches may result in unpredictable behavior and features breaking. Only disable them if you know what you're doing!</CFSettings_ApplyAtOwnRisk>
	<CFSettings_DebugModeRequired>If debug mode is disabled, all patches will be applied.</CFSettings_DebugModeRequired>
	<CFSettings_RestartToApply>You must restart the game for patch settings to apply.</CFSettings_RestartToApply>	
	<!-- Where {0} is the PlainName attribute and {1} is the Description attribute -->
	<CFSettings_ApplyPatch>Apply {0}</CFSettings_ApplyPatch>
	<CFSettings_ApplyPatchTooltip>Whether to apply the {0}, which {1}</CFSettings_ApplyPatchTooltip>
	<!-- Settings/Description pairs for each patch, so they can be translated -->
	<CFSettings_ApplyOnHediffAddedPatch_Name>On Hediff Added Patch</CFSettings_ApplyOnHediffAddedPatch_Name>
	<CFSettings_ApplyOnHediffAddedPatch_Desc>allows certain hediffs to apply effects whenever another hediff is applied to the same pawn.</CFSettings_ApplyOnHediffAddedPatch_Desc>
	
	<CFSettings_ApplyCapacityPatch_Name>Capacity Patch</CFSettings_ApplyCapacityPatch_Name>
	<CFSettings_ApplyCapacityPatch_Desc>allows the "caravan capacity" stat to work, which can be used to increase the maximum carry mass of a caravan.</CFSettings_ApplyCapacityPatch_Desc>
	
	<CFSettings_ApplyCompAffectedByFacilitiesPatch_Name>Facility Recipe Unlock</CFSettings_ApplyCompAffectedByFacilitiesPatch_Name>
	<CFSettings_ApplyCompAffectedByFacilitiesPatch_Desc>allows facilities to unlock recipes when attached to workbenches.</CFSettings_ApplyCompAffectedByFacilitiesPatch_Desc>
	
	<CFSettings_ApplyCompFromStuffPatch_Name>Comp From Stuff</CFSettings_ApplyCompFromStuffPatch_Name>
	<CFSettings_ApplyCompFromStuffPatch_Desc>allows materials to add additional properties to things made from them.</CFSettings_ApplyCompFromStuffPatch_Desc>
	
	<CFSettings_ApplyIgnorePathCostPatch_Name>Ignore Path Cost</CFSettings_ApplyIgnorePathCostPatch_Name>
	<CFSettings_ApplyIgnorePathCostPatch_Desc>allows modders to make pawns ignore pathing costs.</CFSettings_ApplyIgnorePathCostPatch_Desc>
	
	<CFSettings_ApplyFacilityRequireFuelPatch_Name>Facility Require Fuel Patch</CFSettings_ApplyFacilityRequireFuelPatch_Name>
	<CFSettings_ApplyFacilityRequireFuelPatch_Desc>allows modders to create facilities which require fuel to operate.</CFSettings_ApplyFacilityRequireFuelPatch_Desc>
	
	<CFSettings_ApplyQualityUtilityPatch_Name>Quality Utility Patch</CFSettings_ApplyQualityUtilityPatch_Name>
	<CFSettings_ApplyQualityUtilityPatch_Desc>allows modders to add conditions which affect the quality of crafted items.</CFSettings_ApplyQualityUtilityPatch_Desc>
	
	<CFSettings_ApplyHatchPatch_Name>Hatch Patch</CFSettings_ApplyHatchPatch_Name>
	<CFSettings_ApplyHatchPatch_Desc>allows pawns to be born into your faction from items.</CFSettings_ApplyHatchPatch_Desc>
	
	<CFSettings_ApplyHealthTickPatch_Name>Health Tick Patch</CFSettings_ApplyHealthTickPatch_Name>
	<CFSettings_ApplyHealthTickPatch_Desc>allows certain hediffs to apply effects when each pawn performs its health tick.</CFSettings_ApplyHealthTickPatch_Desc>
	
	<CFSettings_ApplyNegativeFertilityPatch_Name>Negative Fertility Patch</CFSettings_ApplyNegativeFertilityPatch_Name>
	<CFSettings_ApplyNegativeFertilityPatch_Desc>allows specific plants to grow faster in less fertile soil.</CFSettings_ApplyNegativeFertilityPatch_Desc>
	
	<CFSettings_ApplyShouldHaveNeedPatch_Name>Ignore Need Patch</CFSettings_ApplyShouldHaveNeedPatch_Name>
	<CFSettings_ApplyShouldHaveNeedPatch_Desc>allows modders to make pawns ignore certain needs.</CFSettings_ApplyShouldHaveNeedPatch_Desc>
	
	<CFSettings_ApplyMissingPartPatches_Name>Missing Part Patches</CFSettings_ApplyMissingPartPatches_Name>
	<CFSettings_ApplyMissingPartPatches_Desc>allows the framework to easily fix missing parts without causing errors.</CFSettings_ApplyMissingPartPatches_Desc>

	<CFSettings_ApplyOutputWorkerPatch_Name>Recipe Output Patches</CFSettings_ApplyOutputWorkerPatch_Name>
	<CFSettings_ApplyOutputWorkerPatch_Desc>allows modders to run additional scripts whenever certain recipes are complete.</CFSettings_ApplyOutputWorkerPatch_Desc>
</LanguageData>